sudo: true

services:
  docker

branches:
 only:
 - master

language: node_js
node_js:
  - "6.9.2"

before_install:
  - docker login cciuk.azurecr.io -u cciuk -p +/=v=Q=/G6u=o5Zd+O/2UkrNpFrYma=L
  - npm install -g grunt
  - gem install sass
  - gem install compass

install:
  - npm install
  - grunt test && grunt prod

script:
  - docker build -t cciuk.azurecr.io/cci-mgmt-ui .
  - docker push cciuk.azurecr.io/cci-mgmt-ui


