//CORE
$darkBlue: #000434;
$brightBlue: #0099D8;
$white: #FFFFFF;
$black: #000000;
$background: #FAFAFA;

//CC ACCENT COLORS BRIGHT
$brightAqua: #00C6D7;
$brightGreen: #72BF44;
$brightYellow: #FFCB05;
$brightOrange: #FF5800;
$brightRed: #EF3F4A;
$brightFuschia: #CF2C91;
$brightPurple: #8E52A1;
$paleGrey: #F2F2F2;

//CC ACCENT COLORS DARK
$darkAqua: #004651;
$darkGreen: #004124;
$darkGrey: #32363F;
$darkCrimson: #5A0024;
$darkPink: #500035;
$darkPurple: #23024E;
$midGrey: #8996A0;

//GRAYSCALE
$gsMist: #FAFAFA;
$gsCloud: #EEEEEE;
$gsConcrete: #DEDEDE;
$gsBunny: #CCCCCC;
$gsRat: #888888;
$gsSlate: #666666;

//COPY
$copyOne: #444444;
$copyTwo: #666666;
$copyThree: #888888;
$copyFour: #CCCCCC;
$copyFive: #D8D8D8;